/* --------------------
        全体
-------------------- */

:root {
  color: #1749bdcc;
}

* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  padding: 30px;
  color: #333;
}

/* --------------------
        見出し
-------------------- */

h1, h2, h3 {
  color: #3171d2;
  border-bottom: dashed 0.1em #d2c631;
}

/* --------------------
        リンク
-------------------- */

a {
  color: #1749bdcc;
  text-decoration: none;
}

/* --------------------
        リスト
-------------------- */

ul {
  list-style: none;
}
li:before {
  content: "★";
  color: #eb962ccc;
}

/* --------------------
          表
-------------------- */

table {
  border-spacing: 0;
  border-collapse: collapse;
  border: solid 1px #f0f0f0;
  min-width: 70%;
}
tr {
  background-color: #fff;
}
tr:nth-child(2n) {
  background-color: #f9f9f9;
}
th {
  background:  color: #1749bdcc;
  color: #fff;
}
th, td {
  border: solid 1px #f0f0f0;
  padding: 0.5rem;
}
